footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: #1b357e;
}

.social_media {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.social_media p{
    font-size: 15px;
    margin: 0 20px 0 0;
}

.media_list {
    list-style: none;
    padding: 0;
}

.media_item {
    display: inline;
}

.media_item img {
    width: 30px;
}

.logo_footer {
    margin: 0 20px 0 0;
}