@import "./reset.css";
@import "./header.css";
@import "./footer.css";
@import "./menuLateral.css";

html {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o body tenha, no mínimo, a altura da tela */
}