header {
    display: flex;
    width: 100%;
    box-shadow: 1px 1px 6px black;
    padding: 8px;
    text-align: center;
    justify-content: space-between;
}

.logo_header {
    width: 110px;
}

.logo_header img {
    display: inline;
    width: 100%;
}

.nav {
    margin: auto;
}

.nav_list {
    list-style: none;
    padding: 0;
}

.nav_item {
    display: inline;
    font-size: 21px;
    margin: 0 30px 0px 0px;
}

.nav_item a {
    color: #1351d8;
    text-decoration: none;
}

