.menu-lateral {
    display: none;
    position: fixed;
    top: 66px;
    right: -350px;
    width: 250px;
    height: 120px;
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease;
    z-index: 1000;
}

.menu-lateral.ativo {
    right: 0px;
}

.menu-lateral a {
    display: block;
    color: #1351d8;
    text-decoration: none;
    width: 100vh;
    padding: 6px 0;
    margin: 10px 0 0 0;
}


.menu-lateral a:hover {
    background-color: #d5d5d5;
}

.botao-hamburguer {
    display: none;
    z-index: 1100;
    color: black;
    border: none;
    background: none;
    padding: 10px 15px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.menu-hamburguer-linha {
    width: 30px;
    height: 1px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
}


@media (max-width:832px) {

    .menu-lateral,
    .botao-hamburguer {
        display: block;
    }

    .nav {
        display: none;
    }
}