.card_car {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.logo_info {
    position: relative;
    width: 30px;
    align-self: flex-end;
    top: -30px;
    left: -20px
}

input[type="checkbox"] {
    transform: scale(1.7);
    margin-right: 10px;
    margin-bottom: 10px;

}

label {
    color: #1351d8;
}