@import "../../global/global.css";
@import "./partials/sectionContato.css";
@import "./partials/form.css";

html {
     overflow-x: hidden;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 100px 0;
}
