@import "../../global/global.css";

html {
    overflow: hidden;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_main {
    text-align: center;
    width: 87%;
}

.image_main {
    width: 100%;
}

.section_main p {
    font-size: 20px;
    margin-top: 15px;
}